body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #036d08;
    color: #fff;
    padding: 20px;
    
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.notes {
    padding: 20px;
}

.notes h2 {
    text-align: center;
    color: #027a02;
}

.matiere {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgb(190, 196, 196);
}

.matiere h3 {
    margin-top: 0;
}
button{
    background-color: #027a02;
    color: #fff;
    padding: 15px;
    cursor: pointer;
}

