
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #187501;
    color: #fff;
    padding: 20px;
}

header h1 {
    margin: 0;
}
.notes {
    padding: 50px;
}

.notes h2 {
    text-align: center;
}

.matiere {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.matiere h3 {
    margin-top: 0;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}